.page--progress-board{
    .col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .business-area{
            flex: 1;

            h2{
                margin-bottom: 8px;
            }
        }

        > * {

        }
    }

    .table-wrapper{
        background-color: white;
        height: 100%;
    }
    table{
        // height: 100%;
    }
}