.tab--progress-board {
    .tab--body {
        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .business-area {
                flex: 1;
                overflow: hidden;
                display: flex;
                width: 100%;
                flex-flow: column;

                h2 {
                    margin-bottom: 8px;
                }

            }

        }
    }

    .tab--footer {}

    >* {}

    .table-wrapper {
        position: relative;
        background-color: white;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    table {
        width: 100%;
    }

    .progressbar {
        width: 100%;

        div[class^="ProgressBar__WhiteBar"],
        div[class^="ProgressBar__Progress"] {
            width: 100%;
        }

        div[class^="ProgressBar__Progress"] {
            color: unset;
        }
    }

    .btn--add{
        padding: 8px;
        position: absolute;
        bottom: 12px;
        left: 0;
        width: calc(100% - 24px);
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%, 0);
    }
}