.desktop {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.window {
    display: flex;
    flex-direction: column;
    position: relative;

    h2{
        font-size: 1em;
    }

    .flex {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &-content {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    &-body {
        display: flex;
        flex-flow: column;
        height: unset;
        flex: 1;
        overflow: hidden;
        margin: 0;
        padding: 8px;
    }
    
    &-footer{
        padding: 8px;
        padding-top: 0px;
    }

    .page{
        display: flex;
        flex-flow: column;
        height: 100%;
        overflow: hidden;

        &--body{
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    
        &--footer{
            margin-top: 8px;
        }
    }

    .container{
        overflow: hidden;
        padding: 0;
    }

    .grid{
        height: 100%;
        overflow: hidden;
    }

    .row{
        height: 100%;
        overflow: hidden;
    }
}

section{
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

fieldset {
    overflow: auto;
    width: 100%;
}

input{
    color: black;
}